html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  background-color: #FFE5AE;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px;
  margin: 5px 0px 5px 0px;
  border: solid 1px;
  border-radius: 0px;
  word-wrap:break-word;
  width: 100%;
}

#messages {
  margin-bottom: 0px;
  width: 100%;
}

#messagesContainer {
  border-color: #000;
  border-top: solid;
  width: 100vw;
  height: calc(100vh - (48.5227px + 57.7273px));
  overflow-y: auto;
}

#input {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #6B979B;
}

#m {
  border-radius: 0px;
  height:100%;
  width: 100%;
  border: 1px solid #bcbdc0;
}

#inputdiv{
  padding: 0px;
  margin: 0px;
}

#sendButton {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  display: block;
}

#cancelReplyButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cancelReplyDiv {
  display: none;
}

#sendIcon {
  font-size: xx-large;
  margin: 0 auto;
}

#cancelReplyToMessageIcon {
  font-size: xx-large;
  margin: 0 auto;
}

.replyButton {
  border-bottom: solid .5px;
  color: #343434;
}

.viewRepliesButton {
  border-bottom: solid .5px;
  color: #343434;
}

#longitudeDiv, #latitudeDiv {
  display: none;
}

#overlay {
  background-color: #FFE5AE;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.navbar-custom {
  background-color: #FFF0CF;
  color: #000;
  background-image: url("./wild_west_banner_trans.png");
}

#splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash img {
  height: 40vh;
  width: 40vh;
}

#loadingInfo {
  text-align: center;
}

#navlogo {
  height: 30px;
  width: 30px;
}



#helpInfo {
  margin: 5%;
}

.messageImageDiv{
  border-radius: 99px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageEmojiDiv{
  font-size: x-large;
}